@font-face {
  font-family: "Grotesk";
  src: url("/fonts/HKGrotesk-Bold.otf");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Grotesk";
  src: url("/fonts/HKGrotesk-Regular.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/Metropolis-Bold.otf");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/Metropolis-Regular.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/Metropolis-Thin.otf");
  font-style: thin;
  font-weight: 300;
  font-display: swap;
}

html {
  --maxwidth: 1390px;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.singlebtn {
  color: white;
  padding: 15px;
  padding-left: 2%;
  padding-right: 2%;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  background: #f81743;
  border-radius: 4px;
  font-family: "Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 13px 15px #ff7893b3;
}
